.site-header
{
    border: 2px solid black;
    font-family: "Candara",Arial,sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background: rgb(46, 62, 73);
}

.site-background
{
    background: rgb(245, 247, 250);
}

.site-text-container
{
    font-family: "Candara",Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5625;
}

.own-size-site-text-container
{
    font-family: "Candara",Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5625;
}

input
{
    width: 100%;
}
